@import url('fonts.css'); 

html, body{ 
	border: 0px; 
	margin: 0px; 
	overflow: hidden; 
}
body{  
	background: #111D5D; 
	padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
 	padding-top: env(safe-area-inset-top); /* iOS 11.2 */
} 
.hidden{ 
	visibility: hidden; 
	opacity: 0; 
}
.clear:after { 
	content:"."; 
	display:block; 
	height:0px; 
	clear:both; 
	visibility:hidden; 
} 
svg{ 
	overflow:visible; 
}
.main-game-container{ 
	position:absolute;  
	top:0px; 
	bottom:0px; 
	left:0px; 
	right:0px; 
	padding:0px; 
	margin:auto; 
	overflow:hidden; 
} 
.main-game-container .sound{ 
	display:none; 
} 
.main-container{
	position:relative;     
	width: 100%; 
	height: 100%; 
	display:flex;  
}
.main-container.blur{ 
	-webkit-filter: blur(10px); 
	-moz-filter: blur(10px); 
	filter: blur(10px); 
}
.overlay-container{
	position:absolute;     
	top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px; 
	pointer-events: none; 
	z-index: 20; 
}
.play{ 
	display:block; 
	position:absolute; 
	width:68px; 
	height:68px; 
	top:0px; 
	bottom:0px; 
	left:0px; 
	right:0px; 
	margin:auto; 
	border: 2px solid #FFF; 
	border-radius:34%;    
	cursor:pointer; 
	-webkit-transition:all .2s ease-in; 
	-moz-transition:all .2s ease-in; 
	transition:all .2s ease-in;
} 
.play .content{ 
	display:block; 
	position:absolute; 
	width:68px; 
	height:68px; 
	top:0px; 
	bottom:0px; 
	left:0px; 
	right:0px; 
	margin:auto; 
	background:url(../images/play-icon.svg) no-repeat 25px; 
	background-size:39%;      
}
.play:hover{ 
	-webkit-transform:scale(1.1,1.1) rotateZ(45deg); 
	-moz-transform:scale(1.1,1.1) rotateZ(45deg); 
	transform:scale(1.1,1.1) rotateZ(45deg);
}
.play:active{ 
	-webkit-transform:scale(0.9,0.9) rotateZ(45deg); 
	-moz-transform:scale(0.9,0.9) rotateZ(45deg); 
	transform:scale(0.9,0.9) rotateZ(45deg); 
}
.fps{ 
	position:absolute; 
	bottom:0px; 
} 
.overlay-panel{ 
	position: absolute;
	background: rgba(0,0,0,.1);  
	width: 100%; 
	height: 100%; 
	z-index: 10;
	box-shadow: none; 
	pointer-events: all; 
}  
 
.touch-slider {
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out; 
	cursor: move; 
	will-change: opacity, transform; 
} 
.touch-slider.active {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;  
}
.touch-slider * {
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-drag: none;
    user-select: none; 
	pointer-events:none; 
} 

.canvas-container{  
	flex-grow:1; 
} 
.main-game-container .main-canvas{ 
	position:absolute;  
	top:0px; 
	bottom:0px; 
	/*left:0px;*/ 
	right:0px;  
	margin:auto; 
	border: 1px solid rgba(255,255,255,.05);
    border-width: 1px 0px;
	background: #000000;
	flex-grow:1;  
	image-rendering: optimizeSpeed;
    -webkit-transform:translateZ(0); 
	transform:translateZ(0); 
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden; 
	z-index:1; 
} 

@media screen and (min-width:780px) 
{ 
	.main-game-container .main-canvas{
		border-width: 1px; 
	}
}

.panel-top-button-container{ 
	position:absolute; 
	top:12px; 
	right:15px; 
	z-index:10; 
} 
.circle{ 
	padding:0px; 
	-webkit-transform: rotateZ(45deg); 
	-moz-transform: rotateZ(45deg); 
	transform: rotateZ(45deg); 
	-webkit-backface-visibility:hidden; 
} 
.circle .content{ 
	-webkit-transform: rotateZ(-45deg); 
	-moz-transform: rotateZ(-45deg); 
	transform: rotateZ(-45deg); 
	position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    text-align: center;
    align-items: center;
    padding: 0px;
    justify-content: center; 
}
.circle:active{ 
	-webkit-transform: rotateZ(45deg); 
	-moz-transform: rotateZ(45deg); 
	transform: rotateZ(45deg); 
}  
 
.control-sub-panel{ 
	overflow:hidden; 
	-webkit-transform: translateZ(0);
	transform: translateZ(0); 
	-webkit-backface-visibility: hidden; 
	backface-visibility: hidden;
	will-change:clip-path, -webkit-clip-path; 
} 
.control-sub-panel.open{ 
	-webkit-animation: maskInTop 1s forwards; 
	-moz-animation: maskInTop 1s forwards; 
	animation: maskInTop 1s forwards;
} 
.control-sub-panel.close{ 
	-webkit-animation: maskOutTop .5s ease-out forwards; 
	-moz-animation: maskOutTop .5s ease-out forwards; 
	animation: maskOutTop .5s ease-out forwards; 
}  
.control-sub-panel .title-container{  
	width:70%; 
	height:auto; 
	min-height:60px; 
	position:relative; 
	top:0px; 
	right:0px; 
	margin: 60px auto 0px; 
} 
.control-sub-panel .title-container .title{  
	width:50%; 
	height:auto; 
	min-height:60px; 
	padding:1px 4% 0px; 
	-moz-box-sizing:border-box; 
	box-sizing:border-box;  
	float:left; 
}  
.control-sub-panel .title-container ul{ 
	position: relative;
    display: table;
    width: 100%; 
	margin:0px; 
	padding:0px; 
	list-style:none;  
	-webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;  
	will-change:opacity, transform;
} 
.control-sub-panel .title-container.active ul{   
	-webkit-transition: none;
    -moz-transition: none;
    transition: none; 
}
.control-sub-panel .title-container ul li{
	position:relative; 
	height: auto;
    min-height: 40px;
    line-height: 40px; 
	font-size:20px; 
	color:#FFF; 
	padding:0px 20px; 
	font-weight:normal; 
    letter-spacing: 3px; 
	float:left; 
	opacity:.5; 
}
.control-sub-panel .title-container ul li.selected{ 
	color: #FF4881; 
	opacity:1; 
} 
.control-sub-panel .title-container ul li.selected:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0px;
    right: 0px;
    max-width: 53%;
    height: 13%;
    margin: auto;
    border-radius: 4px;
    background: #FF4881;
}
.control-sub-panel .main-step-container {
    position: absolute;
    top: 110px;
    bottom: 55px;
    left: 10%;
    right: 10%;
    padding:0px;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    overflow: visible;
    -webkit-transform: translateZ(0);
    z-index: 1;
}
.control-sub-panel .step-container {
    display: table;
    min-height: 0px;
    width: 300%;
    height: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.control-sub-panel .step-container .step {
    display: table-cell;
    min-height: 0px;
    width: 31%;
    height: 100%;
} 
.control-sub-panel .touch-slider * {
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-drag: none;
    user-select: none;
    pointer-events: all;
}
.options-container .option{  
	width:75px;  
	height:auto; 
	min-height:60px; 
	background:none; 
	float:right; 
	margin:0px; 
	cursor:pointer;  
} 
.options-container .option:hover{  
	background-color:rgba(255,255,255,.1); 
	box-shadow:none; 
} 
.options-container .option:active{  
	background-color:rgba(0,0,0,.1); 
	box-shadow:none; 
} 
.data-toggle-panel{ 
	position:relative; 
	margin:16px auto; 
}
.toggle {
    display: none !important;
} 
.toggle-bttn {
    box-sizing: border-box;
}
.toggle:checked + .toggle-bttn {
    background: #6c9316;
} 
.toggle + .toggle-bttn {
    background: #040D24;
    border-radius: 0px;
	border:none; 
    padding: 0px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
} 
.toggle + .toggle-bttn {
    outline: 0;
    display: block;
    width: 64px;
    height: 8px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	border-radius:4px; 
    user-select: none; 
	box-shadow:none !important; 
} 
.toggle + .toggle-bttn:after, .toggle + .toggle-bttn:before {
	position: absolute;
    top: -150%;
    bottom: -150%;
    display: block;
    content: "";
    width: 50%;
	border-radius: 50% !important; 
	-webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
} 
.toggle + .toggle-bttn:before {
	display: none;
}
.toggle + .toggle-bttn:after:hover {
	will-change: padding;
} 
.toggle + .toggle-bttn:after {
	left: 0;
} 
.toggle:checked + .toggle-bttn:after {
	left: 50%;
}
.toggle + .toggle-bttn:after {
    border-radius: 0px;
    background: #FFF;
    -webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
} 
.toggle + .toggle-bttn:active:after {
	padding-right: .8em;
}
.toggle:checked + .toggle-bttn {
	background: #040D24;
}
.toggle + .toggle-bttn:hover, 
.toggle:checked + .toggle-bttn:hover, 
.toggle:checked + .toggle-bttn:active {
	background:#040D24 !important; 
	box-shadow: none;
}
.toggle:checked + .toggle-bttn:after {
	background:#FF4881; 
}
.toggle:checked + .toggle-bttn:active:after {
	margin-left: -.8em;
}
.fps{ 
	position:absolute; 
	width:100px; 
	height:30px; 
	bottom:0px;  
	font-size:12px; 
	color:#666;  
	padding:10px; 
	margin:5px; 
} 

@media screen and (max-width:987px) 
{ 
	.main-game-container{ 
		border:none;    
	} 
} 
@media screen and (max-width:820px) 
{ 
	.main-game-container .options-container .option.bttn-home {
		background-size: 40% !important;
	}
} 

@media screen and (max-width:740px) 
{ 
	.main-game-container .options-container .option.bttn-pause span{ 
		width: 9%;
		height: 28px;
		margin: 10px 4px 0px;
	} 
	.options-container .bttn-pause span {
		width: 3px;
		height: 18px;
	}
	.main-game-container .options-container .option.bttn-home {
		background-size: 44% !important;
	}  
} 
