.splash-container{
	position:absolute;
	display:flex;
	-webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
	width:100%;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	-webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
	z-index:120;
}
.gradient{
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 73%, rgba(255,255,255,0) 91%);
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 73%,rgba(255,255,255,0) 91%);
	background: radial-gradient(ellipse at center,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 73%,rgba(255,255,255,0) 91%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#00ffffff',GradientType=1 );
}
.splash-container .splash-logo-container{
	position:relative;
	width:80%;
	height:90%;
	display:flex;
	-webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.splash-container .logo-image{
	display:flex;
	flex-grow:1;
	-webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.splash-container .logo-image img{
	width:210%;
	height:auto;
}
.splash-container .copyright-container{
	position:absolute;
	color:#C1272D;
	bottom:0px;
	right:0px;
	padding:0px 50px 20px 0px;
}
.splash-container .copyright-container span{
	color:#FFF;
}