<?xml version="1.0" encoding="utf-8"?>
	<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cocoon="http://cocoon.io/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.multisplode.c1471138160624" version="1.4.9">
		<name>Multisplode</name>
		<description>A fun puzzle game that uses explosions to complete each level.</description>
		<author email="j.c.durf@gmail.com" href="https://multisplode.com">chris durfee</author>
		<content src="index.html"/>
		<plugin name="cordova-plugin-whitelist"/>
		<access origin="*"/>
		<allow-intent href="http://*/*"/>
		<allow-intent href="https://*/*"/>
		<allow-intent href="tel:*"/>
		<allow-intent href="sms:*"/>
		<allow-intent href="mailto:*"/>
		<allow-intent href="geo:*"/>
		<platform name="android">
			<allow-intent href="market:*"/>
			<preference name="CocoonSplashBackgroundColor" value="#111D5D"/>
			<preference name="enabled" value="true"/>
		</platform>
		<platform name="ios">
			<allow-intent href="itms:*"/>
			<allow-intent href="itms-apps:*"/>
			<preference name="CocoonSplashBackgroundColor" value="#111D5D"/>
			<preference name="DisallowOverscroll" value="true"/>
			<preference name="enabled" value="true"/>
		</platform>
		<preference name="Orientation" value="landscape"/>
		<preference name="Fullscreen" value="true"/>
		<preference name="CocoonSplashScaleMode" value="scaleAspectFill"/>
		<preference name="CocoonSplashBackgroundColor" value="#111D5D"/>
		<plugin name="com.ludei.installlocation.android" spec="*"/>
		<preference name="android-installLocation" value="auto"/>
		<plugin name="com.ludei.webviewplus.ios" spec="*"/>
		<plugin name="com.ludei.webviewplus.android" spec="*"/>
		<plugin name="https://github.com/sunnycupertino/cordova-plugin-admob-simple.git" spec="https://github.com/sunnycupertino/cordova-plugin-admob-simple.git"/>
		<preference name="CocoonSplashDelay" value="1"/>
		<plugin name="https://github.com/chrisdurfee/cordova-plugin-ios-calendar-permission.git" spec="https://github.com/chrisdurfee/cordova-plugin-ios-calendar-permission.git"/>
		<preference name="cocoon-version" value="2.1.0"/>
		<plugin name="https://github.com/CocoonIO/cocoon-plugin-android-architecture.git" spec="https://github.com/CocoonIO/cocoon-plugin-android-architecture.git"/>
		<preference name="android-architecture" value="armv7"/>
	</widget>
